{#
This file is part of the "taba secure 2-FACTOR AUTHNTICATION" plugin

Copyright (C) SPREAD WORKS Inc. All Rights Reserved.

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'login_frame.twig' %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}

    <div class="login-box">
        {{ include('alert.twig') }}
        <div class="login-box-body">
            <p class="login-logo2"><img src="{{ url('admin_plugin_taba-2fa_img_product_logo') }}" width="80%"></p>
            <form name="form1" id="form1" method="post" action="" >

                {% if app.session.flashBag.has('eccube.admin.login.target.path') %}
                    {% for targetPath in app.session.flashBag.get('eccube.admin.login.target.path') %}
                        <input type="hidden" name="_target_path" value="{{ targetPath }}" />
                    {% endfor %}
                {% endif %}
                <div class="form-group has-feedback">
                    {% if form.check_one_code is defined %}
                    {{ form_widget(form.check_one_code, {'id': 'check_one_code', 'attr': {'style' : 'ime-mode: disabled;', 'size': 20, 'class': 'box25', 'placeholder': 'デバイストークン', 'autofocus': true}}) }}
                    {% endif %}
                </div>
                <div class="form-group has-feedback">
                </div>
                {% if error %}
                <div class="form-group">
                    <span class="text-danger">{{ error|trans|raw }}</span>
                </div>
                {% endif %}
                <p class="btn_area"><button type="submit" class="btn btn-primary btn-block btn-lg">2段階認証</button></p>
                {{ form_row(form._token) }}
            </form>

        </div><!-- /.login-box-body -->
        <p class="text-right"><a href="https://taba.sprd.ws/" target="_blank"><img src="{{ url('admin_plugin_taba-2fa_img_taba_poweredby') }}" height="25" title="taba"></a></p>
        <p class="text-center"><small class="copyright">&copy; SPREAD WORKS Inc. All Rights Reserved.</small></p>
    </div><!-- /.login-box -->

{% endblock %}
